{% block frames_section %}
<!-- Right section for frames and suggestions display -->
<div class="col-md-10 right-section">
	<!-- Suggestions Display Section (for clip view mode) -->
	<div class="frames-section" id = "framesSection">
		{% if suggestions %}
			{% for suggestion in suggestions %}
				{% set index = loop.index0 %}
				<div class="suggestion card col-md-2" id="suggestion-{{ index }}" draggable="true" ondragstart="dragFrame(event)" 
					ondragover="allowDropFrame(event)" ondrop="dropFrame(event)" ondragend="onDragEndFrame(event)">
					<div class="card-header">
						<a href="https://www.youtube.com/embed/{{ video_urls[suggestion.frames[0][0]] }}?start={{ suggestion.frames[0][2] }}&end={{ suggestion.frames[-1][2] }}&autoplay=1" 
							target="_blank" class="video-name card-link" style="width:100%">{{ suggestion.frames[0][0] }}</a>
						<!-- 
							<button type="button" class="btn-close btn-sm btn-outline-danger float-end" aria-label="Close" onclick="deleteCard(this)"></button> 
							-->
						({{ suggestion.frames|length }})
					</div>
					{% if suggestion.frames[suggestion.main_frame][5] %}
						<img class="thumbnail card-img-bottom"
							id="thumbnail-{{ index }}"
							type="button"
							src="{{ suggestion.frames[suggestion.main_frame][5] }}" 
							loading="lazy"
							onclick='openModal({{ suggestion.frames | tojson | safe }}, {{ index }}, "https://www.youtube.com/embed/{{ video_urls[suggestion.frames[0][0]] }}?start={{ suggestion.frames[0][2] }}&end={{ suggestion.frames[-1][2] }}&autoplay=1")'>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}