{% block input_section %}
<div class="col-lg-2 col-md-3 col-sm-4 input-section text-bg-light">
	<h3>Retrieve Video Frames</h3>
	<hr>
	<h5 data-bs-toggle="collapse" href="#InputSection" aria-controls="InputSection" role="button"> Input</h5>  
	<form method="POST" action="/submit" onsubmit="showSpinner()" id="InputSection" class="collapse show" enctype="multipart/form-data">
		<div id="query-container">
			{% for query_id, query_text in queries %}
				<div class="textarea-container mb-2"> <!-- draggable="true" ondragstart="dragQuery(event)" ondragover="allowDropQuery(event)" ondrop="dropQuery(event)"> -->
					<label class="form-label mb-0" for="query_{{ query_id }}" style="width:100%">
						Text <span class="query-number">#{{ query_id }}</span> /                    
						<input name="query_disable[]" type="checkbox" class="disable-textarea-checkbox" value="{{ query_id }}" {% if query_id in query_disable %}checked{% endif %}> Disable
						<button type="button" class="btn btn-outline-danger no-outline delete-query float-end" onclick="deleteTextarea(this)"><i class="fa-regular fa-trash-can"></i></button>
					</label>
					<textarea type="text" id="query_{{ query_id }}" name="query[]" 
						class="form-control sm-8 query-textarea" rows="2"
						placeholder="Your query" required>{{ query_text }}</textarea>
				</div>
			{% endfor %}
		</div>
		<button type="button" class="btn mb-3 btn-outline-secondary no-outline" onclick="addTextarea()"><i class="fa-solid fa-plus"></i> New text query</button>
		<div class="mb-3">
			<label for="formFileMultiple" class="form-label">Image queries</label>
			<input class="form-control" type="file" id="formFileMultiple" name="images[]" accept="image/*" multiple>
		</div>
		<div class="accordion accordion-flush mb-3" id="imageListAccordion">
			{% if image_queries %}
				{% for file in image_queries %}
				{% set image_id = file.index %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ image_id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ image_id }}" aria-expanded="false" aria-controls="collapse{{ image_id }}">
							#{{ image_id }} - {{ file.name }}
						</button>
					</h2>
					<div id="collapse{{ image_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ image_id }}" data-bs-parent="#imageListAccordion">
						<div class="accordion-body">
							<img src="{{ file.image }}" 
								loading="lazy"
								class="img-thumbnail" 
								alt="Image {{ image_id }}">
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
		</div>
		<p class="mb-3">Configurations</p>
		<div class="input-group mb-2">
			<label for="num_frames" class="input-group-text">No. frames:</label>
			<input type="number" id="num_frames" class="form-control" name="num_frames" value="{{ num_frames }}" required>   
		</div>
		<div class="input-group mb-2" style="width:100%">
			<label for="db_mode" class="input-group-text">DB mode:</label>
			<select class="form-select" aria-label="DBDropdown" id="db_mode" name="db_mode">
				<option value="fast">Fast</option>
				<option value="standard" selected>Standard</option>
				<option value="slow">Slow</option>
			</select>
		</div>
		<div class="input-group mb-2">
			<label class="input-group-text" for="keyframes">Keyframes:</label>
			<select class="form-select" aria-label="Keyframes batch" 
				id="keyframes" name="keyframes">
				<option value="12_old">Batch 1&2 (old)</option>
				<option value="12_new">Batch 1&2 (new) </option>
				<option value="3_old">Batch 3 (old)</option>
				<option value="3_new">Batch 3 (new)</option>
				<option value="3_refined" selected>Batch 3 (refined)</option>
			</select>
		</div>
		<div class="form-check form-switch mb-3">
			<input class="form-check-input" type="checkbox" id="show_image" name="show_image" checked>
			<label class="form-check-label" for="theme">Show Images</label>
		</div>
		<div class="d-grid mb-1">
			<button class="btn btn-primary btn-block" type="submit" id="submit-button">Submit</button>
		</div>
		{% if execution_time %}
			<div id="execution-time" class="alert alert-info">
				Last run: {{ execution_time }} seconds
			</div>
		{% endif %}
	</form>
	<hr>
	<!-- CSV Download Section -->
	<!-- 
	<h5 data-bs-toggle="collapse" href="#CSVSection" aria-controls="CSVSection" role="button">Download</h5>
	<div class="collapse" id="CSVSection">
		<div class="input-group mb-3">
			<label for="custom_text" class="input-group-text" style="width:5em">Answer:</label>
			<input class="form-control" type="text" name="custom_text" id="custom_text" placeholder="For QA, seperate by ', '">
		</div>  
		<div class="input-group mb-3">
			<label for="file_name" class="input-group-text" style="width:5em">File:</label>
			<input class="form-control" type="text" name="file_name" id="file_name" value="{{ csv_filename }}">
		</div>
		<div class="mb-3">
			<button class="btn btn-primary" type="button" onclick="extractCSV()">Download CSV</button>
		</div>
	</div>
	<hr> 
	-->
	<h5 data-bs-toggle="collapse" href="#FramesControl" aria-controls="FramesControl" role="button">Frames control</h5>
	<div class="mb-3">
		<p class="retrieved_frames">Total frames: {{ suggestions|length }}</p>
	</div>
	<!-- Frame control -->
	<div id="FramesControl" class="collapse show">
		<!-- 
		<h6>Custom frame</h6>
		<div class="input-group mb-3">
			<input type="text" id="video_name" name="video_name" 
					class="form-control" placeholder="L04_V019" required>
			<input type="number" id="frame_idx" name="frame_idx" 
					class="form-control" placeholder="18104" required>
			<button class="btn btn-primary" type="button" onclick="addFrame()" style="z-index:1"><i class="fa-solid fa-plus"></i></button>
		</div> 
		-->
		<form method="GET" action="/frames" id="frames-form">
			<div class="row mb-3 align-items-center">
				<h6 class="col" style="margin-bottom:0px">Frames order</h6>
				<div class="dropdown col">
					<input class="form-control" type="hidden" name="sort" id="sort" value="{{ sort }}">
					<button style="width:100%" class="btn btn-outline-primary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown">
						{% if sort == "none" %}
							None
						{% elif sort == 'best_frame' %}
							Best frame
						{% else %}
							Query {{ sort }}
						{% endif %}
					</button>
					<ul class="dropdown-menu" aria-labelledby="sortDropdown">
						<li><a class="dropdown-item" href="#" onclick="sortFrame('none')">None</a></li>
						<li><a class="dropdown-item" href="#" onclick="sortFrame('best_frame')">Best frame</a></li>
						{% set total_queries = queries|length + image_queries|length %}
						{% for query_id in range(total_queries) %}
							<li><a class="dropdown-item" href="#" onclick="sortFrame('{{ query_id }}')">Query {{ query_id }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</form>
	</div>
	<!-- Appearance -->
	<hr>
	<h5 data-bs-toggle="collapse" href="#Appearance" aria-controls="Appearance" role="button">Appearance</h5>
	<div id="Appearance" class="collapse show">
		<div class="form-check form-switch">
			<input class="form-check-input" type="checkbox" id="theme" name="darkmode">
			<label class="form-check-label" for="theme">Dark Mode</label>
		</div>
	</div>
</div>
{% endblock %}