{% block modal %}
<!-- The Modal -->
<div id="myModal" class="modal" onscroll="updateCurrentModalFrame()">
	<div class="modal-dialog" style="max-width:900px">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header position-relative">
				<h4 class="modal-title position-absolute translate-middle start-50 top-50">Modal Heading</h4>
				<button type="button" class="btn-close" onClick="closeModal()"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
			</div>

		</div>
  	</div>
	<!-- Left arrow button, positioned absolutely -->
	<div class="arrow-button-container">
		<button type="button" class="btn btn-outline-primary arrow-button" id="leftArrow"
			onclick="viewPreviousSuggestion()">
			<i class="fa-solid fa-arrow-left"></i></button>
		<button type="button" class="btn btn-outline-primary arrow-button" id="rightArrow"
			onclick="viewNextSuggestion()">
			<i class="fa-solid fa-arrow-right"></i></button>
	</div>	
</div>
{% endblock %}